.App {
  text-align: center;
  height: 100%;
}


/* .AppFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
} */
.Searchbar{
  width: 500px;
}
.Searchbar.input{
  width: 100%;
}

.searchContainer{
  height:max-content;
  min-height: calc(100% - 192px);
}

/* .ui.column.field.inline.office{
  width: 70%
} */

.googleMap{
  float: right;
  right: 0;
}

.ui.image.staticMap{
  width: 200px;
  height: 150px;
}

.customDescription{
  color:#f2711c !important;
  font-weight: bold;
}

.controllerWrapper{
  display:flex;
  justify-content:center;
}

.resultControllers{
  width: 70%;
  display: flex;
  justify-content: space-between;
  .paginationResults{
    width:50%;
    display: flex;
    justify-content: flex-end;
  }
  .sortResults{
    width:50%;
    display: flex;
    justify-content: right;
    border-radius: 5px;
    .SortDropdown{
      border: #ccc 2px solid;
    }

  }
}

@media (min-width: 320px) {
  .ui.AppFooter{ /* Increased specificity for SO snippet priority */
     position: relative;
    bottom: 0; 
    width: 100%;
  }
}
